/* 
IMPORTED CUSTOM FONTS FROM GOOGLE
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Bree Serif', serif; 
*/

.heading {
  font-family: 'Bree Serif', serif; 
}

.hero {
  background-color: var(--bs-indigo);
  filter: opacity(85%);
}

.content {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.shadow {
  background-color: #00000080;
}

.invert {
  filter: invert(100%);
}

.brand-icon {
  border-radius: 50%;
  filter: opacity(85%);
}

.lead {
  color: rgb(173, 181, 189);
}

.brand-icon-dark {
  filter: brightness(75%);
}

.brand-icon-light {
  background-color: black;
  filter: contrast(60%);
}

.btn-purple {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
  z-index: 1030;
  filter: opacity(95%);
}

/* WIREFRAMES */
.box0 { border: 2px solid black; }
.box1 { border: 2px solid red; }
.box2 { border: 2px solid blue; }
.box3 { border: 2px solid green; }


/* Checks if the size is less than the large breakpoint on bootstrap */
@media (max-width: 992px) {

  /* Makes the navigation bar fixed at the top */
  .nav-fix {
    position: fixed;
    z-index: 1030;
    width: 100%;
    top: 0;
    left: 0;
  }
}
